


.flo{
    top: 0;
    position: fixed;
    z-index: 3;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: center; 
    filter: drop-shadow(0.5rem 0.5rem 1rem #201f1f9e);

} 


.presta{
    justify-content: center;
    display: flex;
}